<div class="jumbotron" >
<h1> BONJOUR. 
<br> L'AVENIR ? L'UNIVERS ? LE RESTE ? <h1>
<p style="font-size:16px"><i>Inscrivez-vous. Si votre compte est accepté, vous pourrez accéder à la réponse. Puis vous déco. Puis reco. Mémoire.
</br>Si vous possédez déjà un compte : vous pouvez vous connecter. 
</br>IMPOSSIBLE D'ACCÉDER À /reveal SANS ÊTRE CONNECTÉ. JURÉ.</i></p>

</div> 
