<div class="jumbotron" >
<h1> Great Events For Great People. </h1> 
<br> </br>
<p style="font-size:16px">
<h3>Do you feel left behind ? Join us, we'll be pleased to meet you !</h3> 
<br></br>
<i> "Few are those who see with their own eyes and feel with their own hearts."</i> Albert Einstein
</p>
</div> 
